@import 'nib'

$spacingDefault = 8px

$fontFace = "Lucida Sans Unicode", "Lucida Grande", "sans-serif"
$codeFont = "Lucida Console", "Monaco", "monospace"

html, body
  width: 100%
  height: 100%

body
  overflow: hidden
  font-size: 0.9em
  font-family: $fontFace

#editor
  position: relative
  width: 100%
  height: 400px

#button-bar
  width: 100%
  height: 24px
  background-image: linear-gradient(top, #cdcdcd, darken(#cdcdcd, 10%))
  padding-left: 8px
  padding-top: 12px
  padding-bottom: 4px

  .button
    padding: ($spacingDefault / 2)
    padding-left: 8px
    padding-right: 8px
    border-radius: 4px
    border: 1px solid #888
    margin-right: 4px
    font-size: 0.8em
    cursor: pointer
    background-image: linear-gradient(top, #888, #444)
    color: #fff
    font-weight: bold

    &.disabled
      opacity: 0.5
      cursor: default

    &:hover, &:active
      background-image: linear-gradient(top, #888, #444)
      border-color: #888

    &:hover
      background-image: linear-gradient(top, #999, #666)

    &:active
      background-image: linear-gradient(top, #444, #888)

#editor-variables
  padding: 4px

.code-line
  font-family: $codeFont
  display: block
  font-size: 0.8em

#editor-message
  width: 100%
  height: 24px
  padding: 4px
  font-size: 0.9em
  font-weight: bold
  margin-top: 8px

  &.error
    background-color: #f00
    color: #fff

#editor-container, #canvas-container
  width: 48%
  display: block
  height: 90%

#editor-container
  float: left

#canvas-container
  float: right

#canvas-options
  padding: 4px

  input
    width: 50px